<a href="https://colab.research.google.com/github/silvacorrea/thesis/blob/main/ROA_d1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
import pandas as pd

from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [11]:
# saving dataset4 filepath
d4_path = '/content/drive/MyDrive/Spring 25/Thesis/Data/Dataset d4.xlsx'

#loading each sheet
fin_dev = pd.read_excel(d4_path, sheet_name='Fin Dev')
mix = pd.read_excel(d4_path, sheet_name='MIX')

#check
# print(fin_dev.head())
# print(mix.head())

In [13]:
  #Filter MIX for ROA
mix_roa = mix[mix['Series Name'].str.contains('Return on assets', case=False, na=False)]
# check
 # print(mix_roa.head())

  #Filter Fin DEv for ROA
  fin_dev_roa = fin_dev[fin_dev['Series Name'].str.contains('Return on assets', case=False, na=False)]

 #  check
print(fin_dev_roa.head())

   Country Name Country Code                           Series Name  \
4   Afghanistan          AFG  Bank return on assets (%, after tax)
11      Albania          ALB  Bank return on assets (%, after tax)
18       Angola          AGO  Bank return on assets (%, after tax)
25    Argentina          ARG  Bank return on assets (%, after tax)
32      Armenia          ARM  Bank return on assets (%, after tax)

   Series Code  1999      2000      2001      2002      2003      2004  ...  \
4   GFDD.EI.05   NaN       NaN       NaN       NaN       NaN       NaN  ...
11  GFDD.EI.05   NaN  2.100225  0.716358  0.678887  1.156812  0.797742  ...
18  GFDD.EI.05   NaN       NaN       NaN  1.435228  2.477343  2.350725  ...
25  GFDD.EI.05   NaN  0.498517 -0.038267 -6.697202 -3.623806 -0.573951  ...
32  GFDD.EI.05   NaN  0.302587  0.498464  2.552010  2.402884  3.599490  ...

        2012      2013      2014      2015      2016      2017      2018  \
4   0.284938  0.562770  0.466695 -0.028715  1.562586  0.558283  0.660558
11  0.564811  0.473714  0.674833  0.021019  0.512312  0.743320  0.519510
18  1.789775  1.628798  1.849687  1.726880  1.506456  1.229534  3.094245
25  2.939623  2.945889  3.760068  2.686500  3.410985  2.520943  2.686082
32  1.758199  1.498065  0.877303  0.295378  1.198676  0.783852  1.211656

        2019      2020      2021
4   0.917550  0.355714  1.418369
11  1.014829  0.995456  1.145006
18 -0.981886 -2.369700  3.763863
25  4.053496  2.515532  1.292926
32  1.420894  0.873189  0.714016

[5 rows x 27 columns]

In [29]:
# reshape MIX to tidy format (row-wise) and clean column names

mix_roa_tidy = mix_roa.melt(
    id_vars=['Level', 'Insitutuon Name'],
    value_vars=[col for col in mix.columns if isinstance(col,int)],
    var_name='Year',
    value_name='ROA'
).dropna()

print(mix_roa_tidy.head())

          Level           Insitutuon Name  Year    ROA
66      Armenia           KAMURJ (100329)  1999 -17.70
120  Bangladesh   ASA Bangladesh (100294)  1999   9.07
131  Bangladesh  BRAC Bangladesh (100363)  1999   4.25
132  Bangladesh  BURO Bangladesh (100301)  1999   0.28
178  Bangladesh         PROSHIKA (100349)  1999   4.21

In [30]:
# reshape to Fin_Dev tidy format (row-wise) and clean column names

fin_dev_roa_tidy = fin_dev_roa.melt(
    id_vars=['Country Name'],
    value_vars=[col for col in fin_dev.columns if isinstance(col,int)],
    var_name='Year',
    value_name='ROA'
).dropna()

print(fin_dev_roa_tidy.head())

    Country Name  Year       ROA
124      Albania  2000  2.100225
126    Argentina  2000  0.498517
127      Armenia  2000  0.302587
128   Azerbaijan  2000 -1.112493
129   Bangladesh  2000  1.287880

In [31]:
#standardized column names
mix_roa_names = mix_roa_tidy.rename(columns={'Level':'Country','Insitutuon Name':'Institution'})
fin_dev_roa_names = fin_dev_roa_tidy.rename(columns={'Country Name':'Country'})
fin_dev_roa_names['Institution']='National Commercial Aggregate'

In [32]:
#combine datasets for plotting
roa = pd.concat(
    mix_roa_names[['Country','Institution','Year','ROA']],
    fin_dev_roa_names[['Country','Institution','Year','ROA'
]])

#make sure year and ROA are numeric
roa['Year']=roa['Year'].astype(int)
roa['ROA']=pd.to_numeric(roa['ROA'], errors='coerce')

#check
print(roa.head())

TypeError: concat() takes 1 positional argument but 2 were given

In [ ]:
import plotly.express as px